*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(219, 226, 226);
}
.row{
    background: white;
    border-radius: 30px;
}
img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.btn1{
    border: none;
    padding: 5px 10px;
    background-color: #f26926;
    color: white;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
}
.btn1:hover{
    background-color: #b6b1a8;
    border: 1px solid black;
    text-decoration: underline;
}
.btn1:focus{
    border-color: #f26926;
    box-shadow: 0 0 0 0.2rem rgba(243, 156, 113, .40);
}
.modal-content {
    background-color: none !important;
}
