<div class="float-left left">
    <a routerLink="/home">
        <img src="https://i.imgur.com/dYo5Z7w.png" class="img-fluid logo" alt="Revature Logo">
        <p id="homeLink">Return to Home</p>
    </a>
    <nav class="nav flex-column navbar">
        <br>
        <br>
        <span>Here are some helpful tips:</span>
        <br>
        <p>Click on the dropdown to select a particular timestamp for a user SWOT.</p>
        <br>
        <p>Click on "Update" to modify an individual SWOT item.</p>
        <br>
        <p>Click on "Delete" to remove an individual SWOT item.</p>
        <br>
        <p>Click on "Add New Item" to add an item to the existing SWOT.</p>
    </nav>
</div>

<div id="display-box-info"  class = "row align-items-center justify-content-center" *ngIf="currentSwotAnalysis">
    <h5>SWOT Analysis Info:</h5>
    <div *ngFor="let swotItem of currentSwotAnalysis.analysisItems; first as isFirst;">
        <p *ngIf="isFirst">Associate: {{currentSwotAnalysis.associate.firstName}} {{currentSwotAnalysis.associate.lastName}}</p>
        <p *ngIf="isFirst">Manager ID: {{currentSwotAnalysis.manager.id}}</p>
        <p *ngIf="isFirst">Created On:
            {{currentSwotAnalysis.createdOn | date:'short':'EST'}}</p>
        <p *ngIf="isFirst">Last Modified:
            {{currentSwotAnalysis.lastModified | date:'short':'EST'}}</p>
    </div>
</div>


<section class="Form my-4 mx-5 right row align-items-center justify-content-center">
    <div class="container">
        <select id="selectSwot" [(ngModel)]="currentSwotAnalysis">
            <option *ngFor="let swotAnalysis of swotAnalyses;" [ngValue]="swotAnalysis">
                {{swotAnalysis.createdOn | date:'short':'EST'}}</option>
        </select>
    </div>
    <div class="container">
        <div class="row no-gutters">
            <div class="table-responsive px-5 pt-5">

                <h1 class="swot-title">View SWOTs</h1>

                <button class="btn toggle-btn" (click)="addItem()">Add new item</button>

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Item ID</th>
                            <th>description</th>
                            <th>Content</th>
                            <th>Type</th>
                            <th></th> <!-- Added to make the header full -->
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="currentSwotAnalysis">
                            <tr *ngFor="let swotItem of currentSwotAnalysis.analysisItems;" id="data-row">
                                <td>{{swotItem.id}}</td>
                                <td>{{swotItem.description}}</td>
                                <td>{{swotItem.content}}</td>
                                <td>{{swotItem.type}}</td>
                                <td><button class="btn toggle-btn"
                                        (click)="openUpdatePage(swotItem, currentSwotAnalysis.id)">Update</button></td>
                                <td><button class="btn toggle-btn" (click)="delete(swotItem.id)">Delete</button></td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>