<div class="container-fluid">
    <div class="float-left left navbar">
        <img src="https://i.imgur.com/dYo5Z7w.png" class="img-fluid logo" alt="Revature Logo">
        <h1 class="title">Welcome</h1>
        <app-nav-bar></app-nav-bar>
        <button class="btn btn-primary logout-btn" (click)="logOut()">Log Out</button>
    </div>
    <!-- <app-add-item></app-add-item> -->
    <!--<app-swot></app-swot>-->
    <!-- <app-update-item></app-update-item>
    <app-view-swot></app-view-swot> -->
    <div id="showArea" class="float-left right">
        <app-view-associate></app-view-associate>
    </div>
</div>
