* {
    color: silver;
    margin: 0;
    padding: 0;
}

.logo {
    object-fit: contain;
}

.left {
    background-color: #474C55;
    height: 100vh;
    width: 20%;
    -webkit-box-shadow: 4px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 2px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 20px;
}

.title {
    margin: 20px auto;
    font-size: 1.2rem;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: center;
}

.right {
    height: 100vh;
    width: 80%;
    text-align: center;
    padding: 50px;
    overflow: auto;
}

.left::after,
.right::after {
    content: "";
    display: table;
    clear: both;
}

.logout-btn:focus{
    border-color: #f26926;
    box-shadow: 0 0 0 0.2rem rgba(243, 156, 113, .40);
}

.logout-btn {
    padding: 10px 20px;
    background-color: #f26926;
    color: white;
    border: none;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
    animation: fadeInUp;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s;
    /* don't forget to set a duration! */
    position: fixed;
    bottom: 20px;
}

.logout-btn:hover {
    background-color: #b6b1a8;
    text-decoration: underline;
}
.watermark{
    margin: auto;
    padding: auto;
    opacity: 0.4;
}

.tagline{
    color: #f26926;
    margin-top: 20px;
    letter-spacing: 2px;
}

/*Media Breakpoints*/

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .left {
        width: 30%;
        height: 100%;
        padding: 10px;
    }
    .title {
        font-size: 0.7rem;
        letter-spacing: normal;
    }

    .right {
        width: 70%;
        height: 100%;
        padding: 0 0 0 0;
    }

    .logout-btn{
        width: 100px;
        height: 40px;
    }
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .title {
        font-size: 1rem;
        letter-spacing: normal;
    }
    
    .logout-btn{
        width: 100px;
        height: 40px;
    }
}
