<section class="Form my-4 mx-5 d-flex justify-content-center mat-typography" *ngIf="swotItem">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-5">
                <img [src]=myImage class="img-fluid"alt="">
            </div>
            <div class="col-lg-7 px-5 pt-5">
                <h1 class="font-weight-bold py-3">Update Item</h1>
                <form (ngSubmit)="onSubmit(itemForm)" #itemForm="ngForm">
                    <div class="form-row">
                        <div class="col-lg-7">                            
                            <input type="text" class="form-control my-2 p-4" 
                            [(ngModel)]="swotItem.id" id="id" name="id" readonly required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <select [(ngModel)]="swotItem.type" name="type"
                            id="type" class="form-control my-2 p-4" required>
                                <option value="" disabled selected>Update SWOT Type</option>
                                <option value="STRENGTH">strengths</option>
                                <option value="WEAKNESS">weaknesses</option>
                                <option value="OPPORTUNITY">opportunities</option>
                                <option value="THREAT">threats</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <input type="text" class="form-control my-2 p-4" 
                            [(ngModel)]="swotItem.content" id="content" name="content" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <button type="submit" class="btn1 mt-3 mb-3" value="updateItem">Update SWOT</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>