
.associate {
    display: grid;
    min-height: 30px;
    grid-template-columns: repeat(10,auto);
    gap: 5px;
    align-items: center;
}

/*.email {
    text-align: center;
}*/

.rev-btn {
    padding: 10px 20px;
    background-color: #f26926;
    color: white;
    border: none;
    border-radius: 10px;
   /* transition: 0.4s ease-in-out;
    animation: fadeInUp;
    /* referring directly to the animation's @keyframe declaration */
    /*animation-duration: 3s;
    /* don't forget to set a duration! */
}

.modal-content {
    background-color: none !important;
}

.toggle-btn:focus{
    border-color: #f26926;
    box-shadow: 0 0 0 0.2rem rgba(243, 156, 113, .40);
}

.toggle-btn {
    padding: 10px 20px;
    background-color: #f26926;
    color: white;
    border: none;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
    margin-bottom: 10px;
    margin-top: 10px;
}

.toggle-btn:hover {
    background-color: #b6b1a8;
    text-decoration: underline;
}