<div class="container">
  <div class="row no-gutters">
      <div class="col-lg-12 px-5 pt-5">
          <h1 class="font-weight-bold py-3">Update Batch</h1>
          <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
              <div class="form-row">
                  <div class="col-lg-12">
                      <h3 class="font-weight-bold py-3">Associate ID: {{associateId}}</h3>
                  </div>
              </div>
              <div class="form-row">
                  <div class="col-lg-12">
                    <h3 class="font-weight-bold py-3">Current Batch ID: {{curBatchId}}</h3>
                  </div>
              </div>
              <div class="form-row">
                  <div class="col-lg-12">
                      <input type="text" placeholder="Enter New Batch ID" class="form-control my-2 p-2"
                         [formControlName]="'inputedBatchId'"  id="newBatch" required>
                  </div>
              </div>
              <div class="form-row">
                  <div class="col-lg-12">
                      <button type="submit" class="btn1 mt-3 mb-5" value="promote">UPDATE BATCH</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>